body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  height: 50px;
  background-color: rgba(15, 121, 148, 0.397);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  display: inline-block;
  margin-right: 30px;
}
